/* @font-face {
    font-family: 'zhi_mang_xingregular';
    src: url('fonts/zhimangxing-regular-webfont.woff2') format('woff2'),
         url('fonts/zhimangxing-regular-webfont.woff') format('woff');

}
body { 
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
}
#p1 {
font-family: zhi_mang_xingregular;
text-align: center;
width: 6 00px;
margin: 0 auto;
font-size: 50px;
}
#p2 {
    font-family: fantasy;
    font-style: oblique;
    width: 600px;
    margin: 0 auto;
    
}
#p3 {
    font-family: 'Almarai', sans-serif ;
    font-size: 50px;
    width: 600px;
    margin: 0 auto;
}
 
span {
     font-size: 50px; 
     font-style:italic ;
     
    
 } */

 #firstp {
     text-transform: uppercase;
     text-decoration: underline;
 }
 #secp {
     text-transform: lowercase;
     text-decoration: line-through;
 }

