p {
    background-color: yellow;
    display: inline-block;
}
h1 {
    text-align: center;
    width: 960px;
    margin:50px auto;
    border-radius: 50%;
    padding: 50px 0px;
    background-color: tomato;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-shadow: 3px 3px 2px 2px rgba(150, 150, 150, 1);
}
#firstp {
    width: 300px;
    margin-right: 20px;
    border-width: 5px;
    border-color: red; 
    border-style: dashed;
}
#secondp {
    width: 400px;
    margin-right: 20px;
    border-color: green;
    border-style: solid;      
    display: none;
}
#thirdp {
    margin-right: 20px;
    width: 200px;
    border-width: 5px;
    border-color: red; 
    border-style: dashed;
    visibility: hidden;
}
#thirdp:hover {
    visibility: visible;
}
#prvaul {
    list-style-type: circle;
}
#drugaul {
    list-style-type: square;
}
#prvaol {
    list-style-type: upper-alpha;
}
#drugaol {
    list-style-type: upper-roman;
}
#trecaul {
    list-style-image: url(file:///C:/Users/student/Downloads/label-24px.svg);
    width: 200px;
}
#cetvrtaul {
    list-style-image: url(file:///C:/Users/student/Downloads/label-24px.svg);
    width: 200px;
    list-style-position: inside;
}